.sub-heading2 {
    border: 2px solid var(--border-color1);
    padding: 10px;
    display: inline-block;
    position: relative;
    animation: borderAnimation 2s infinite, textAnimation 2s infinite;
}

/* Border animation */
@keyframes borderAnimation {
    0% {
        border-color: var(--border-color1);
    }

    50% {
        border-color: var(--border-color2);
    }

    100% {
        border-color: var(--border-color1);
    }
}

/* Text animation */
@keyframes textAnimation {
    0% {
        color: var(--text-color1);
    }

    50% {
        color: var(--text-color2);
    }

    100% {
        color: var(--text-color1);
    }
}